@use "../../App.scss" as *;

.newsBox {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .newsCard {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;  // Smooth hover effects

    &:hover {
      transform: scale(1.05);  // Slight zoom effect
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  // Add a shadow on hover
    }

    // Ensure the card looks clickable
    cursor: pointer;
    text-decoration: none; // Remove default link underline
  }

  .newsImage {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
  }

  .newsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }

  .newsContent h2 {
    font-size: $font-size-title;
    color: $border-color-yellow;
  }

  .newsContent p {
    font-size: $font-size-text-news;
    line-height: 1.5;
    color: $nodle-black-200;
  }

  .date {
    font-size: $font-size-small-medium !important;
    text-align: right;
  }
}

// Make sure that Link has no underline and behaves like a block element
.newsCardLink {
  display: block;
  text-decoration: none; // Remove default underline from link
  color: inherit; // Inherit text color from parent (styles of .newsCard)
}
