@use "../../App.scss" as *;

.newsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media (max-width: 767px) {
    width: 93vw;
  }

  .newsCard {
    width: 97%;
    display: flex;
    gap: 20px;
    border: 1px solid $fifth;
    border-radius: $border-radius-medium-big;
    transition: transform 0.2s, box-shadow 0.2s;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    cursor: pointer;
    text-decoration: none;
  }

  .newsImage {
    max-width: 30vw;
    max-height: 35vh;
    height: auto;
    border-radius: 15px;
    @media (max-width: 767px) {
      max-width: 20vw;
      max-height: 25vh;
    }
  }

  .newsContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: $padding-large $padding-medium;
  }

  .newsContent h2 {
    font-size: $huge;
    @media (max-width: 767px) {
      font-size: $larger;
    }
  }

  .newsContent p {
    font-size: $large;
    line-height: 1.5;
    color: $seventh;
    @media (max-width: 767px) {
      font-size: $normal;
    }
  }

  .date {
    font-size: $smaller !important;
    text-align: right;
  }
}

.newsCardLink {
  display: block;
  text-decoration: none;
  color: inherit;
}
