@use "./styles/shinyCta.scss" as *;

// Variables for Fonts
$small: 12px; 
$smaller: 14px;
$normal: 16px;
$medium: 18px;
$large: 20px;
$larger: 24px;
$extra-large: 30px;
$huge: 34px;
$massive: 36px; //
$ultra: 40px; //

// Variables for Font Weights
$font-weight-black: 900; //
$font-weight-extra-bold: 800; //
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300; //
$font-weight-extra-light: 200; //
$font-weight-ultra-light: 100; //

// Variables for Colors
$primary: #ffffff;
$secondary: grey;
$third: yellow;
$fourth: orange;
$fifth: black;
$sixth: #00ffea;
$seventh: #ccc;
$eighth: #31e5e4;
$ninth: #333;
$tenth: #afaeae;
$eleventh: #777;
$twelfth: #394a6d;
$thirteenth: #ff6666;

// Variables for Background-colors

$background-body: #191d32;
$background-primary: #131619;
$background-secondary: #282f44;
$background-third: green;
$background-fourth: #0d0f10;
$background-fifth: #2f2f2f;
$background-sixth: #555;
$background-seventh: rgba(0, 0, 0, 0.5);
$background-eighth: #ff4d4f;
$background-ninth: darkblue;
$background-tenth: rgba(0, 0, 50, 0.6);
$background-eleventh: rgba(255, 255, 255, 0.1);
$background-twelfth: #ececec;
$background-thirteenth: rgb(1 197 196 / 51%);
$background-fourteenth: #030f4a;
$background-fifteenth: rgba(20, 30, 48, 0.8);
$background-sixteenth: rgba(30, 40, 60, 0.8);


// Variables for Background-color-btn
$background-btn-first:  #ff4d4f; 
$background-btn-hover-first:  #8a1e21; 
$background-btn-secondary: rgb(197, 127, 127);
$background-btn-hover-secondary: rgb(105, 56, 56);
$background-btn-third: #3b4e7e;
$background-btn-hover-third: #4a90e2;
$background-btn-fourth: #333;
$background-btn-fifth: #4caf50;
$background-btn-hover-fifth: #386c3a;
$background-btn-sixth: #01c5c4;
$background-btn-seventh: #1c2a3e;
$background-btn-hover-seventh: #253243;

// Variables for Border-color
$border-color-pink: rgba(242, 3, 246, 0.928); //
$border-color-green: rgba(6, 246, 54, 0.928); //
$border-color-blue: rgba(3, 105, 249, 0.928);
$border-color-yellow: rgba(246, 250, 4, 0.928); //
$shadow-color: rgba(0, 0, 0, 0.1); //

// Variables for linear-gradient
$linear-gradient-header: linear-gradient(
  to right,
  #dcdcdc,
  rgb(114, 231, 46),
  #dcdcdc,
  rgb(79, 141, 94)
);
// $linear-gradient-header: linear-gradient(
//   to right,
//   #dcdcdc,
//   blue,
//   #dcdcdc,
//   blue
// );
$linear-gradient-groupPage: linear-gradient(
  135deg,
  rgba(0, 0, 0, 0.8),
  rgba(10, 10, 50, 0.7)
);

$linear-gradient-userInform: linear-gradient(to bottom, #141e30, #243b55);

h2,
h3 {
  color: green;
}

/* Colors */

$nodle-black-0: #ffffff; // Этот цвет используется для заголовков h1//
$nodle-black-100: #e8e9e9; // Этот цвет используется для заголовков h2 (можно использовать для текста в сообщениях)//
$nodle-black-200: #cdcecf; // Этот цвет используется для заголовков h3//
$nodle-black-300: #9b9c9e; // Этот цвет используется для обычного текста (но текст переписок или же после заглавных букв)//
$nodle-black-400: #686b6e; // Этот цвет используется для текста возле иконок и иконок!!!//
$nodle-black-500: #363a3d; // Этот цвет используется для незаметного текста по типу если не выбрана строка в сообщении и там написано (отправьте сообщение) (так же для отображения что человек не в сети) //
$nodle-black-600: #1a1d21; // Єтот цвет для кнопок отправить фото или отправить сообщение или же написать сообщение, вообщем для таких кнопок
$nodle-black-700: #131619; // Этот цвет используется для заднего фона, но я бы выбрал наверное 600 но мне кажется будет слишком светло//
$nodle-black-800: #0d0f10; // Этот цвет используется для Хедера, Сайдбара и Для Сайдбара с друзьями и для места где писать сообщение//

$day-blue-900: #0c1132; // Этот цвет используется для текста на зелёных кнопках //

$stem-green-500: #b6f09c; //Этот цвет используется для кнопок, иконок(на вкладке которой вы находитесь), текста  выделенного и для подчеркивания выбранной вкладки на которой вы находитесь (но так-же предлагаю выбрать какой-то другой цвет для текста или же для кнопки, хотя на макете выглядит весьма приятно для зрения)//
$stem-green-600: #9ad37f; // Этот цвет используется для обозначения что человек онлайн //

$heisenberg-blue-500: #82dbf7; // Этот цвет испльзуется для пятиугольника на сайдбаре //

$red-power-600: #d0302f; // Этот цвет используется для треугольника на сайдбаре //

$happy-orange-600: #e26f20; // Этот цвет используется для 2-второго квадратика на сайдбаре //
$sunglow-600: #e2b42b; // Этот цвет используется для 1-вого квадратика на сайдбаре //

$background-button: linear-gradient(
  145deg,
  rgba(225, 215, 237, 0.16) 0%,
  rgba(235, 204, 217, 0.16) 100%
); // тут не понятно но это стиль для сайдбара слева что бы знать на какой ты странице находишся, так же для отображения твоего аватара слева снизу //
$glass-stroke: rgba(255, 255, 255, 0.08);
$glass-modal: rgba(26, 29, 33, 0.96);

$nodle-black-green: #2a9d8f;
$border-primary: #5cb85c;

$font-size-title: 34px;
$font-size-text: 24px;
$font-size-text-news: 20px;

/* Fonts */
$primary-font: "Roboto Slab", serif;
$heading-font: "Orbitron", sans-serif;
$button-font: "Audiowide", sans-serif;
$font-size-small: 12px;
$font-size-small-medium: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;

/* Spacing */
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
$padding-largexl: 30px;
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
$margin-largexl: 30px;

/* Border Radius */
$border-radius-small: 5px;
$border-radius-medium: 8px;
$border-radius-medium-big: 10px;
$border-radius-large: 12px;


/* Breakpoints */
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$large-screen-breakpoint: 1440px;

// __________________________________________\\

.container {
  display: flex; 
  // gap: 10px;  
  width: 100vw;
  position: relative;
  flex-direction: column;  
}
.inner{
  display: flex;
  flex-direction: column;
  // position: relative;
}
.innerBox {
  display: flex;
  justify-content: flex-end;
  
  // flex-direction: column;
  // position: relative;
  // gap: 10px;
  width: 100%;
  height: 85vh;
  padding: 10px;



}
.innerMenu{
 padding: 10px;
  display: flex;
  flex-direction: column;
  width: 11%;
  gap: 10px;
  position: fixed;
  top: 140px;
  left: 0;
  // position: relative;  
  z-index: 100;
  padding-right: 20px;

}

.mainContainer {
  // padding-top: 10px;
  display: flex;
  gap: 10px;  
  width: 88%;
  border-radius: 20px;
  // margin-top: 180px;
  // opacity: 0.9;
}

.menuSocial {
 
  background-color: $nodle-black-700;
  width: 98%;
  height: 100%;
  border-radius: 20px;
}
//___________________________________________\\

/* Base Styles */
body {  
  display: flex;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $primary;
  // background-color: $nodle-black-700;
  background-color: $background-body;
  // background-image: url("https://res.cloudinary.com/dsr6kwzrr/image/upload/v1732992422/4k-Space-Wallpaper-scaled_rjuqft.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  &.expanded {
    height: 100vh; /* Высота в развернутом состоянии */
    overflow-y: scroll; /* Скролл включается только при развернутом блоке */
    transition: height 1s ease; /* Плавное изменение высоты */
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-secondary;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $background-sixth;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

// АДАПТИВНИЙ ДИЗАЙН
/////////////////////////////////////////////////////////////////////////////////////////
// Мобільні телефони (480px–767px)
@media (min-width: 481px) and (max-width: 767px) {
  // .container {
  //   padding: 15px;
  //   font-size: 16px;
  // }
}

// Планшети (768px–1023px)
@media (min-width: 768px) and (max-width: 1023px) {
  // .container {
  //   padding: 20px;
  //   font-size: 18px;
  // }
}

// Ноутбуки та маленькі екрани (1024px–1399px)
@media (min-width: 1024px) and (max-width: 1399px) {
  // .container {
  //   padding: 25px;
  //   font-size: 20px;
  // }
}

// Великі екрани (1400px+)
@media (min-width: 1400px) {
  // .container {
  //   padding: 30px;
  //   font-size: 22px;
  // }
}
