@use "../../App.scss" as *;

.rightMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52vh;
  background-color: $background-secondary;
  border-radius: $border-radius-medium-big;
  overflow-y: auto;
  transition: height 1s ease;
  border: 3px solid $twelfth;
  &.expanded {
    max-height: 52vh;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-secondary;
    border-radius: $border-radius-medium-big;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $background-sixth;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.friendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: $padding-medium;
  width: 100%;
}

.friendLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8vw;
  height: 150px;
  gap: 10px;
  text-decoration: none;
  color: $secondary;
  border: solid 1px $secondary;
  border-radius: 20px;
  padding: $padding-small;

  &:hover {
    color: $background-btn-fifth;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(83, 83, 83, 0.8), 0 0 25px rgba(52, 53, 53, 0.5);
  }
}
.toggleButton span {
  margin-right: $margin-medium;
}
.toggleButton {
  color: $primary;
  font-size: $medium;
  padding: $padding-small $padding-medium;
  border-radius: $border-radius-medium-big;
  background-color: $background-btn-fifth;
}
.toggleButton:hover {
  background-color: $background-btn-hover-fifth;
}

.friendName {
  display: flex;
  flex-direction: column;
}

.friendName,
.lastName p {
  font-size: $large;
}

.deleteButton {
  margin-left: auto;
}

.friendAvatar {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}

.friendsTitle {
  padding: $padding-small 0;
  margin-top: 0;
  font-size: 1.5rem;
  width: 100%;
  background-color: $background-secondary;
  text-align: center;
}
