@use "../../App.scss" as *;

.rightMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px; 
  background-color: $background-secondary;
  border-radius: 10px;
  overflow: hidden; 
  transition: height 1s ease; 
  padding-top: 10px;
  border: 3px solid $twelfth;
  &.expanded {
    height: 52vh; 
    overflow-y: scroll; 
    transition: height 1s ease; 
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-secondary;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $background-sixth;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media (max-width: 767px) {
    display: none;
    border: 1px solid red
  }
  &.showInMainContent {
    display: flex !important;
  }

  @media (min-width: 768px) {
    .showInMainContent {
      display: none;
    }
  }
}

.friendItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.friendLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11vh;
  gap: 10px;
  text-decoration: none;
  color: $secondary;
  border: solid 1px $secondary;
  border-radius: 20px;
  padding: 5px;
  flex-grow: 1;

  &:hover {
    color: $background-btn-fifth;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(83, 83, 83, 0.8), 0 0 25px rgba(52, 53, 53, 0.5);
  }
}
.toggleButton span {
  margin-right: 10px;
}
.toggleButton {
  color: $primary;
  font-size: $medium;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $background-btn-fifth;
}
.toggleButton:hover {
  background-color: $background-btn-hover-fifth;
}

.friendName {
  display: flex;
  flex-direction: column;
}

.friendName,
.lastName p {
  font-size: $large;
}

.deleteButton {
  margin-left: auto;
}
