@use "../../App.scss" as *;

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $background-secondary;
  border-radius: $border-radius-medium-big;
  opacity: 0.9;
  border: 3px solid $twelfth;

  .functionBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    margin-top: $margin-large;
  }

  .iconWrapper img {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuForm {
    padding: $padding-large $padding-medium;
    width: 80%;
    margin-left: $margin-medium;
    border-radius: $border-radius-medium-big;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .menuForm input {
    width: 95%;
    padding: $padding-large $padding-small;
  }

  a {
    cursor: pointer;
  }
}

@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
