@use "../../App.scss" as *;

.news-page {
  padding: $padding-large;
}

.news-detail {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.news-detail__image {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.news-detail__content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-detail__text-container {
  max-width: 600px;
}

.news-detail__title {
  font-size: $huge;
  font-weight: $font-weight-semi-bold;
  color: $primary;
}

.news-detail__text {
  margin: 20px 0;
  font-size: $larger;
  color: $seventh;
  line-height: 1.5;
}

.news-detail__date {
  font-size: $smaller;
  color: #777;
}
