@use "../../App.scss" as *;

.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: $margin-largexl;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.navButton {
  display: inline-block;
  padding: $padding-medium $padding-large;
  text-decoration: none;
  color: $ninth;
  font-weight: $font-weight-semi-bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: $border-radius-small;
  transition: all 0.3s ease;

  &:hover {
    background-color: #c0bfbf;
    color: #111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.activeButton {
  background-color: #4a90e2;
  color: $primary;
  border-color: #4a90e2;
  box-shadow: 0 4px 8px rgba(74, 144, 226, 0.3);
}
