.game2 {
    text-align: center;
    // background-color: #282c34;
    // min-height: 80vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #61dafb;
    margin-top: 40px;

    .game2 button {
        font-size: 6vh;
        width: 15vh;
        height: 15vh;
        margin: 2vh;
        background-color: #282c34;
        color: #61dafb;
        border-color: #61dafb;
      }
  }

  .boxGame2 h2{
    margin-bottom: 20px;     
  }
  
  .restart {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  padding: 20px 25px;
  text-transform: capitalize;
  align-items: center;
  margin-top: 30px;

  &:hover {
    background-color: darkgreen; /* Колір фону при наведенні */
    transform: scale(1.05); /* Легке збільшення кнопки при ховері */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Анімація */
  }
}