@use "../../App.scss" as *;

.userBox {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
  padding: 0 20px;
  justify-content: space-between;
  // height: 40vh;
}

.userCard {
  position: relative;
  min-width: 295px;
  width: 20%;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;

  @media (max-width: 1024px) and (min-width: 768px) {
    width: 45%;
  }

  // Styles for mobile screens
  @media (max-width: 768px) {
    width: 100%;
    height: 180px;
  }

  &.flipped {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #cababa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $primary-font;
    font-size: $font-size-medium;
  }
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to right, rgb(90, 91, 92), rgb(105, 105, 218));
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
  gap: 10px;
  padding-top: 20px;
}

.front .inner h2 {
  color: grey;
  font-family: $heading-font;
  font-weight: 300;
  font-size: 18px;
}

.front .inner h2::after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.userPhoto {
  width: 90%;
  height: 80%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;

  // Style for tablet screens
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 75%;
    height: 75%;
  }

  // Style for mobile screens
  @media (max-width: 768px) {
    width: 70%;
    height: 70%;
  }
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  display: inline-block;
  transition: color 0.3s, transform 0.2s;

  &:hover {
    color: #d1c4ff;
    transform: scale(1.1);
  }

  // Style for mobile screens
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.infoUser {
  margin: 0;
}

.clickToFlip {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
  color: #c0c0c0;
  transition: color 0.3s;

  &:hover {
    color: #ffffff;
  }

  // Style for mobile screens
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  // Style for mobile screens
  @media (max-width: 768px) {
    margin: 15px 0;
  }
}

.searchInput {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #cababa;
  background-color: #363a3d;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &::placeholder {
    color: gray;
  }

  &:focus {
    border-color: #6a5acd;
    box-shadow: 0 2px 8px rgba(106, 90, 205, 0.3);
  }

  // Style for mobile screens
  @media (max-width: 768px) {
    width: 80%;
    font-size: 14px;
  }
}
