@use "../../App.scss" as *;

.button {
    padding: 12px 20px;
    margin: 15px 10px;
    border-radius: 8px;
    background-color: $background-btn-third;
    color: $primary;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: $background-btn-hover-third;
    transform: scale(1.05);
  }
  