.button {
    padding: 12px 20px;
    margin: 15px 10px;
    border-radius: 8px;
    background-color: #3b4e7e;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: #4a90e2;
    transform: scale(1.05);
  }
  