@use "../../App.scss" as *;

.btn {
  background-color: $background-btn-secondary;
  color: $primary;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: $font-size-small-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.btn:hover {
  background-color: $background-btn-hover-secondary;
  box-shadow: 0 8px 16px rgba(205, 90, 107, 0.6);
  transform: scale(1.1);
}

.btn:focus {
  outline: none;
}
