@use "../../App.scss" as *;

.headerBox {
  position: fixed;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  padding-right: 5px;
  top: 0; 
  z-index: 100; 
}

header {
  display: flex;
  padding: 20px; 
  width: 100%;

  h1 {
    background: $linear-gradient-header;
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $huge;
    font-weight: $font-weight-bold;
    cursor: pointer;

    animation: gradientMove 3s infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .radioBtn {
    width: 80px;
    height: 26px;
    background: $background-btn-fourth;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);

    &:after {
      content: 'UA';
      color: $secondary;
      position: absolute;
      right: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: $font-weight-bold;
      text-shadow: 1px 1px 0 rgba(255,255,255,.15);
    }

    &:before {
      content: 'EN';
      color: gray;
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 12px/26px sans-serif;
      font-weight: $font-weight-bold;
    }

    label {
      display: block;
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: $border-color-blue;
      border-radius: 50px;
      transition: all 0.4s ease;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    }

    input[type=checkbox] {
      visibility: hidden;

      &:checked + label {
        left: 43px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .headerNav li a {
    position: relative;
    display: inline-block;
  }

  .headerNav li a::after {
    content: "";
    position: absolute;
    left: -14px;
    bottom: -10px; 
    width: 200%; 
    height: 3px; 
    background-color: $background-secondary; 
    transition: background-color 0.3s ease;
  }

  .headerNav li a.active::after {
    background-color: $background-third; 
  }

  .logoBox {
    display: flex;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    // border-bottom: 1px solid $fifth;
  }

  .imgLogo {
    width: 250px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
  }

  .headerBottom {
    padding: 20px;
    box-sizing: border-box;
  }

  .headerNav {
    display: flex;
    justify-content: space-evenly;
  }
}

