@import "../../App.scss";

header {
  padding: 20px;
  background-color: $nodle-black-800;
  border-radius: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 82%;
  h1 {
    color: $nodle-black-0;
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
  }

  a {
    text-decoration: none;
  }

  // a:hover {
  //   width: 30px;
  //   background-color: green;
  //   height: 2px;
  // }

  // li:hover {
  //   // position: fixed;
  //   width: 10px;
  //   height: 1px;
  //   border-bottom: 1px solid green;
  // }

  .headerNav li {
    position: relative;
  }

  .headerNav li::after {
    content: "";
    position: absolute;
    left: -10px;
    bottom: -19px; /* Положение полоски */
    width: 50px;
    height: 3px; /* Высота полоски */
    background-color: green; /* По умолчанию полоска прозрачная */
    transition: background-color 0.3s ease;
  }

  .headerNav li .active::after {
    background-color: green; /* Цвет полоски для активного элемента */
  }

  .headerTop {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid $nodle-black-700;
  }

  .headerBottom {
    padding: 20px;
    box-sizing: border-box;
  }

  .headerNav {
    display: flex;
    justify-content: space-evenly;
  }

  // header a:hover {
  //   position: fixed;
  //   top: 10px;
  //   right: 0;
  //   width: 30px;
  //   background-color: green;
  //   height: 2px;
  // }
}