@import '../../App.scss';

// ChatPage.module.scss
.layout {
    display: flex;
    // height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    padding: 25px;
    background-color: #1c1f2a; /* Adjust this according to your theme */
    color: white;
  }
  
  .rightSidebar {
    width: 250px;
    background-color: #282c34;
    padding: 10px;
    color: white;
  }

  .mainBox {
    // position: fixed;
    margin-top: 180px;
    width: 85%;
    height: 100%;
    padding: 0 10px;
    // top: 180px;
    // right: 11%;

    // width: 300px; /* ширина блока */
    // height: 200px; /* висота блока */
    overflow-y: scroll; /* вертикальний скрол */
    overflow-x: hidden; /* приховати горизонтальний скрол (опціонально) */
    overflow: auto;
  }

  .mainBox::-webkit-scrollbar {
    width: 8px; /* Вузький скролбар */
  }
  
  .mainBox::-webkit-scrollbar-track {
    background: #2f2f2f; /* Темний фон для скролбару */
  }
  
  .mainBox::-webkit-scrollbar-thumb {
    background-color: #555; /* Темніший "повзунок" */
    border-radius: 10px; /* Закруглені кути */
    border: 2px solid #2f2f2f; /* Простір між скролом і треком */
  }
  
  /* Стиль для Firefox */
  .mainBox {
    scrollbar-width: thin; /* Вузький скролбар */
    scrollbar-color: #555 #2f2f2f; /* Темний повзунок і темний трек */
  }