@import "../../App.scss";

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  width: auto;
  padding:0;
  background-color:$nodle-black-700; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 700px;
}

/* === CONVERSATIONS === */

.discussions {
  width: 35%;
  height: 700px;
  border: 1px solid $border-color-blue;
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
  overflow: hidden;
  background-color:$nodle-black-700;
  display: inline-block;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: $nodle-black-600;
  border-bottom: solid 1px $nodle-black-500;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: $nodle-black-500;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid $nodle-black-600;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height:38px;
  width:100%;
  border:none;
  color: $nodle-black-100;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color:$nodle-black-200; 
}
.discussions .search .searchbar input *:-moz-placeholder {
    color: $nodle-black-200; 
}
.discussions .search .searchbar input *::-moz-placeholder {
    color:$nodle-black-200; 
}
.discussions .search .searchbar input *:-ms-input-placeholder {
    color: $nodle-black-200; 
}

.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: $nodle-black-600; // Active message background
  border-bottom: solid 1px $nodle-black-500;
}

.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid $nodle-black-800;
}

.desc-contact {
  height: 43px;
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:$nodle-black-100;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color: $nodle-black-100;
}

.timer {
  margin-left: 15%;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: $nodle-black-100; // Light color for timer
  background-color: $nodle-black-500; // Dark background for timer
  border: 1px solid $nodle-black-700; // Dark border
  border-radius: 15px;
}

.chat {
  width: calc(65% - 85px);
  height: 700px;
  display: inline-block;
  border-radius: 10px;
  background-color: $nodle-black-700;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
}

.headerChat {
  // background-color: red;
  // // background-color: $nodle-black-700; 
  // height: 90px;
  // box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  // display:flex;
  // align-items: center;

  background-color: $nodle-black-700;
  color: $nodle-black-100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 90px;
  border-bottom: solid 1px $nodle-black-500;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15);
}

.headerChat .icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 30px;
  color:$nodle-black-100;
  font-size: 14pt;
}

.headerChat .name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: $nodle-black-100;
  font-weight: 600;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

.headerChat .right {
  position: absolute;
  right: 40px;
}

.messagesHistory {
  padding: 20px;
  overflow-y: auto;
  height: auto; 
  background-color: $nodle-black-700;
  scrollbar-width: thin;
  scrollbar-color: $nodle-black-500 $nodle-black-700;
}

.messagesHistory::-webkit-scrollbar {
  width: 6px;
}

.messagesHistory::-webkit-scrollbar-thumb {
  background-color: $nodle-black-500;
  border-radius: 3px;
}


.messageItem {
  margin-bottom: 15px;
  padding: 10px;
  background-color: $nodle-black-600;
  border-radius: 10px;
  color: $nodle-black-100;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  display: flex;
  align-items: center;
}

.messageItem p {
  margin: 0;
  display: inline;
}
