@use "../../App.scss" as *;

.ChatBox{
  display: flex;
  
  border-radius: $border-radius-medium-big;
// width: 90vw;
  @media (max-width: 768px) {
    height: 77vw;
    overflow-y: hidden;
   
  }
}

.ChatSidebar{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80vh;
  gap: 20px;
  @media (max-width: 768px) {
    height:  70vh;
   
  }
 
}




/* Общие стили для формы */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97%;
  
}

/* Стили для контейнера поля Select */
.select {
  color: #000;
  .react-select__control {
    background-color: #e68e8e;
    border: 1px solid #a3a1a1;
    border-radius: $border-radius-medium-big;
    padding: $padding-small $padding-medium;

    &:hover {
      border-color: $secondary;
    }
  }

  .react-select__value-container {
    // padding: 5px;
    font-size: $normal;
  }

  .react-select__input {
    color: $ninth;
  }

  .react-select__menu {
    background-color: #6d6b6b;
    border: 1px solid #8f8d8d;
    border-radius: $border-radius-medium-big;
    z-index: 10;

    .react-select__option {
      padding: $padding-medium;
      font-size: $smaller;
      color: $ninth;

      &:hover {
        background-color: #b3a9a9;
      }
    }

    .react-select__option--is-focused {
      background-color: #837474;
    }

    .react-select__option--is-selected {
      background-color: #706a6a;
      color: $fifth;
    }
  }

  .react-select__indicator {
    color: $secondary;

    &:hover {
      color: #666;
    }
  }
}

.ChatUsersBox{
  padding: $padding-medium;
  height: 100%;
  border: 1px solid #5f5e5e;
  gap: 10px;
  border-radius: $border-radius-medium-big;
  overflow-y: auto;
  @media (max-width: 768px) {
    height:  45vh;

   
  }
}


/* Стили для каждого пользователя */
.ChatUser {
  display: flex;
  margin-bottom: $margin-medium;
  align-items: center;
  gap: 10px;
  padding: 8px;
  // border: 1px solid #5f5e5e;
  border-radius: $border-radius-small;
  background-color:$secondary;
  height: 100%;
  transition: background-color 0.2s ease, transform 0.2s ease;
  
  
  &.selected {
      background-color:$background-btn-fifth; /* Выделение выбранного пользователя */
      border: 2px solid $background-thirteenth; /* Например, синяя полоска слева */
    }

  &:hover {
   
    transform: scale(1.02);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
  }

  span {
    font-size: $smaller;
    font-weight: $font-weight-medium;
    color: $primary;
    word-break: break-word; /* Чтобы длинные имена не ломали верстку */
  }
}

/* Стили для пустого списка */
.ChatUsers:empty {
  text-align: center;
  color: $secondary;
  font-size: $smaller;
  padding: $padding-large;
}

.ChatMessage{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  padding: $padding-medium $padding-large;
}

