@use "../../../App.scss" as *;

.gameOver {
  color: red;
  margin: 0 auto;
  padding: $padding-large;
  font-size: 50px;
  font-weight: $font-weight-black;
}

.boxArrow{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // gap: 20px;
  color:orange; 
  // margin-top: 20px;
  font-size: $extra-large; 
}

