@use "../../../App" as *;

.galleryPage {
  margin: 0 auto;
  width: 100vh;
  text-align: center;
  color: $primary;
  width: 80vw;

  h2 {
    color: #00bfff;
    font-size: 2rem;
    margin: 50px 0;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 80%;
  margin: auto;

  .sliderInner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .sliderItem {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 700px;
      height: auto;
      max-height: 500px;
      object-fit: cover;
      border-radius: $border-radius-medium-big;
      @media (max-width: 768px) {
        width: 450px;

        max-height: 350px;
      }
      @media (max-width: 425px) {
        width: 250px;

        max-height: 200px;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: $primary;
    border: none;
    font-size: 2rem;
    padding: $padding-medium;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .sliderNav {
    display: flex;
    justify-content: center;
    margin-top: $margin-medium;

    .dot {
      width: 10px;
      height: 10px;
      margin: $margin-small;
      background-color: #ddd;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .active {
      background-color: #00bfff;
    }
  }
}
