@import '../../App.scss';

.userBox {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  // flex-direction: column;
  gap: 20px;

  .userPhoto {   
    width: 70%; /* Ширина фото 100% від контейнера */
    height: auto; /* Висота для збереження пропорцій */
    border-radius: 5px; 
    
  }  
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.userDetails h2 {
  font-size: $font-size-title;    
  color: $border-color-yellow;
  padding-bottom: 20px;
}

.userDetails p {
  font-size: $font-size-text;
  color: $nodle-black-100;
}
  
  
  
  
  
  
